<!DOCTYPE html>
<html>
<head>
    <title>Costos de carga</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <h1 class="navbar-brand mb-0 h1">Cálculo de costos</h1>
</nav>
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <h2>Datos del viaje</h2>

        {{ render_field(form.km, class='form-control') }}
        {{ render_field(form.peajes, class='form-control') }}
        {{ render_field(form.frontera) }}
        {{ render_field(form.toneladas, class='form-control') }}
        {{ render_field(form.tiempo_total, class='form-control') }}
        {{ render_field(form.tiempo_descarga, class='form-control') }}
        {{ render_field(form.otros_tiempos, class='form-control') }}

        {{ form.retorno_con_carga.label }}
        {% for subfield in form.retorno_con_carga %}
            <div class="form-check form-check-inline">
                {{ subfield(class='form-check-input') }}
                {{ subfield.label(class='form-check-label') }}
            </div>
        {% endfor %}


        <h2>Mano de obra</h2>

        {{ render_field(form.ayudantes, class='form-control') }}

    <input type="submit" value="Calcular" class="btn btn-primary btn-lg">
    </form>




</div>
<footer class="footer">
    <div class="github">
        <span class="text-muted">
            
        </span>
    </div>
</footer>

</body>
</html>
